<div id="discount-progress" style="margin-top: 1em;">
  <div style="display: flex; justify-content: space-between;">
    <span id="current-discount">Current Discount: 0%</span>
    <span id="next-discount-info">Next: -</span>
  </div>
  <div style="background-color: #eee; border-radius: 5px; overflow: hidden; height: 20px; margin-top: 5px;">
    <div
      id="discount-bar"
      style="display: block; background-color: rgba(var(--color-button_background_2), var(--alpha-button-background)); width: 0%; height: 100%; transition: width 0.3s;"
    ></div>
  </div>
</div>
