{% schema %}
{
  "name": "Content Feedback",
  "settings": [
    {
      "type": "html",
      "label": "Form Code",
      "id": "form_code"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Content Feedback"
    }
  ]
}
{% endschema %}

<div class="page-width feedback-container">
  <p>Was this content useful?</p>
  <a href="javascript:void(0);" class="positive">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
      <path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z" />
    </svg>
  </a>
  <a href="javascript:void(0);" class="negative">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
      <path d="M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-18.5-10.5-34.6-25.9-42.6C497 236.6 504 223.1 504 208c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 384H96c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H32C14.3 96 0 110.3 0 128V352c0 17.7 14.3 32 32 32z" />
    </svg>
  </a>

  <div class="positive-feedback hide">
    <p>Thank you for your feedback.</p>
  </div>
</div>

<div id="feedback_form" class="page-width expand hide">
  <div class="white">
    <div class="header">
      <!-- <h2>Submit Feedback</h2> -->
      <a class="close" href="javascript:void(0);">×</a>
    </div>
    <div class="content">
      <!--
        <p>We'd really like to hear any feedback that you might have for us! This will help us improve our website and make it a better experience for you.</p>
      -->
      {{ section.settings.form_code }}
    </div>
  </div>
</div>

{% style %}
  .feedback-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  div#feedback_form {
    background: #eee;
    padding: 40px 50px;
  }

  .page-width.expand > .white > .header .close {
    position: absolute;
    top: 0;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }
{% endstyle %}
