.button.secondary {
    background-color: rgb(var(--color-button_background_2));
}

.button.secondary::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) rgba(var(--color-button_background_2), var(--alpha-button-background));
}

.button.secondary:not([disabled]):hover:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button_background_2), var(--alpha-button-background));
}

.product-reviews-wrapper {
    float: left;
    width: 50%;
    line-height: 37.8px;
    margin: 0 0 0 0 !important;
}

.stock_availability_label {
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0 !important;
}

#product-available {
    margin: 0 0 0 0 !important;
}

#product-available .variant-sku-part {
    display: none;
}

.total-price-wrapper {
    background-color: #f0f9eb;
    border-color: #6FB43F;
    padding: 1.5rem 2rem;
    border-width: 2px;
    border-radius: 0.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-style: solid;
}

.total-price-wrapper .label-wrapper {
    color: #3A3A3C;
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 2.75rem;
}

.total-price-wrapper .total-price {
    color: #6FB43F;
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.25rem;
}

.product-price {
    color: #6FB43F;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 3.5rem;
}

.regular-price {
    color: rgb(var(--color-foreground));
}

.volume_pricing_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem 0 !important;
}

.volume_pricing_info .volume_pricing_label {
    font-weight: 600;
}

.volume_pricing_info .volume_pricing_blob {
    background-color: #6FB43F;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
}

.product--specifications h2 {
    font-size: 2rem !important;
    line-height: 2.75rem !important;
    font-weight: 700 !important;
}

.customize_quote_buttons_wrapper {
    display: flex;
    gap: 10px;
    margin-top: -1rem;
}

.customize_quote_buttons_wrapper .button {
    width: 100%;
    font-weight: 600 !important;
}

.button.button-white {
    background-color: transparent !important;
    border-width: 2px;
    border-style: solid;
    border-color: #6FB43F;
    color: #3A3A3C;
}

.volume_pricing_message,
#discount-progress,
.volume_pricing_info {
    cursor: pointer;
}

#discount-progress {
    clear: both;
    margin: 0 0 0 0 !important;
}

#discount-progress #current-discount {
    display: none;
}

#discount-progress #next-discount-info {
    font-weight: 700;
}

.regios-dopp-generic-volume-pricing-table {
    margin: 0 0 0 0 !important;
    border-width: 0px !important;
    width: 100%;
}

.regios-dopp-generic-volume-pricing-table th {
    border-width: 0px !important;
}

.regios-dopp-generic-volume-pricing-table td {
    border-width: 1px 0px 1px 0px !important;
    border-color: #e5e7eb !important;
}

.regios-dopp-generic-price-container:not(.regios-dopp-generic-price--on-sale) .regios-dopp-generic-price-item--regular {
    display: block;
    font-size: calc(var(--font-heading-scale) * 2.2rem);
    font-weight: 700;
}

.volume-pricing-table-wrapper {
    height: 0px !important;
    overflow: hidden;
}

.volume-pricing-table-wrapper.open {
    height: auto !important;
}

.quantity:after {
    box-shadow: none !important;
}

.quantity {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
    width: 100%;
    border-radius: 0.5rem;
}

.quantity .quantity__input {
    border-width: 0 2px;
    border-style: solid;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}