#tab2 {
    display: block;
    margin: 0 auto;
    width: 281px;
    height: 400px;
}

div#tab2 img {
    display: block;
    width: 100%;
    height: auto;
}

div#tab2.vertical-badge-buddies-1xl {
    width: 401px;
}

.product.product--thumbnail_slider .selectedColor {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    display: block;
    margin: 0;
    border-radius: 5px;
}

.product.product--thumbnail_slider .badge-preview-text-tab1,
.product.product--thumbnail_slider .badge-preview-text-tab1w {
    display: block;
    width: 100%;
    font-family: 'minion-pro';
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.product.product--thumbnail_slider .myUnderscore {
    color: transparent;
}