/* ====================================
   CUSTOM PAGES CSS
   Global styles for all pages
   ==================================== */

/* Add your global custom styles here */

/* Example: Custom button styles across all pages */
/* .custom-button {
    background-color: #6FB43F;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
} */


/* Anncouncement-bar */
.announcement-bar .page-width {
    max-width: 1800px !important;
}
.utility-bar__grid {
    position: relative;
}
p.announcement-bar__message span , .contact-text p {
    margin: 0;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}
.contact-text p {
    color: rgb(var(--color-foreground));
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
}
.contact-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}