/* ====================================
   CUSTOM PAGES CSS
   Global styles for all pages
   ==================================== */

/* Add your global custom styles here */

/* Example: Custom button styles across all pages */
/* .custom-button {
    background-color: #6FB43F;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
} */


/* buttons */
a.button,
.button,
.button.button,
customer .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    transition: all .3s;
}

@media(max-width:749px) {

    a.button,
    .button,
    .button.button,
    customer .button {
        font-size: 15px;
    }
}


.collection-hero .collection-hero__description>*:not(:first-child) {
    display: none;
}

.collection-hero .collection-hero__description.show-all>p {
    display: inherit;
}

.collection-hero .collection-hero__description.show-all>table {
    display: table;
}

.shipping-calculator-wrapper,
.shipping-calculator-response-wrapper {
    padding: 20px;
    box-shadow: #0000003d 0 3px 8px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cart-block-wrapper {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 5px;
    margin-bottom: 4rem;
    margin-top: 0px !important;
}