.newsletter__wrapper {
  padding-right: calc(0rem / var(--font-body-scale));
  padding-left: calc(0rem / var(--font-body-scale));
}

/* @media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
} */

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}


/* custom-css */
/*  news-letter*/
.newsletter-section .gradient {
  background: none;
}
.newsletter-section .newsletter-form {
  margin: 0;
}
.newsletter-section .newsletter-form .newsletter-form__field-wrapper .field__label {
  color: #969696;
}
.newsletter-section .newsletter-form .newsletter-form__field-wrapper .newsletter-form__button:not(:focus-visible):not(.focused) {
    height: 70%;
    border-radius: 4px;
    right: 10px;
    top: 10px;
    width: fit-content;
    padding: 0 30px;
    line-height: 100%;
    letter-spacing: 0;
    background: #6FB43F;
    color: #ffffff;
    font-size: 16px;
    transition: all .3s;
    font-weight: 500;
    text-transform: capitalize;
}
.newsletter-section .newsletter-form .newsletter-form__field-wrapper .newsletter-form__button:not(:focus-visible):not(.focused):hover {
    background:  #F5911F;
}
.newsletter-section h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: .6px;
    text-transform: capitalize;
    max-width: 900px;
    text-align: start;
}
.newsletter-section .newsletter__subheading {
    text-align: left;
    margin: 3rem 0;
    max-width: 100%;
}
.newsletter-section .newsletter__subheading p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.6px;
}
.newsletter-section .newsletter-form {
    margin: 0;
    max-width: 60rem !important; 
}
.newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 60rem !important;
}
.newsletter-section .newsletter-form .newsletter-form__field-wrapper .field__input {
    background-color: #ffffff;
    color: #969696;
    height: 6.5rem;
    border-radius: 10px;
}
.newsletter-section .field:hover.field:after{
    box-shadow: none;
    outline: 0;
    border-radius: 10px;
}
.newsletter-section  .field:after { 
    border-radius: 10px;
    box-shadow: none;
}
.newsletter-section .newsletter-form .newsletter-form__field-wrapper .field__input::placeholder {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #8A8A8A;
    opacity: 1;
}
.newsletter-section .field__input:not(:placeholder-shown) {
    padding: 1.5rem !important;
}
.newsletter-form__field-wrapper .field__input {
    padding-left: 2.5rem;
}


@media(max-width:1300px){
  .newsletter-section h2 {    font-size: 40px;   max-width: 680px;}
}

@media(max-width:1100px){
  .newsletter-section h2 {    font-size: 35x;}
  .newsletter-section .newsletter__subheading p {    font-size: 18px;}
  .conatct-button {    gap: 10px;}
}

@media(max-width:749px){
  .newsletter-section h2 {    font-size: 30px;    max-width: 680px;    font-weight: 500;    line-height: 110%;}
  .newsletter-section .newsletter__subheading p {   font-size: 16px;}
  .newsletter-section .newsletter__subheading {  margin: 3rem 0 4rem;}
  .newsletter-section .newsletter-form .newsletter-form__field-wrapper .newsletter-form__button:not(:focus-visible):not(.focused) {   height: 100%;   padding: 16px 28px;  position: unset; border-radius: 5px;}
  .newsletter-form__field-wrapper .field {    display: flex;  flex-direction: column;    gap: 18px;    justify-content: center;    align-items: center;}
  .newsletter-section .newsletter-form .newsletter-form__field-wrapper .field__input {   height: 5.2rem;    border-radius: 5px;     text-align: center;}
  .newsletter-section .newsletter-form .newsletter-form__field-wrapper .field__input::placeholder {    font-size: 17px;    line-height: 110%;    text-align: center;}
}