@font-face{font-family:'Pictos';src:url("/fonts/pictos.eot?iefix");src:local("Pictos"),url("/fonts/pictos.woff") format("woff"),url("/fonts/pictos.ttf")
  format("truetype"),url("/fonts/pictos.svg#webfontIyfZbseF") 
  format("svg");font-weight:normal;font-style:normal}.pictos{font-family:"Pictos"}.p-a:before{font-family:"Pictos";content:"a "}
.p-b:before{font-family:"Pictos";content:"b "}.p-c:before{font-family:"Pictos";content:"c "}.p-d:before{font-family:"Pictos";content:"d "}
.p-e:before{font-family:"Pictos";content:"e "}.p-f:before{font-family:"Pictos";content:"f "}.p-g:before{font-family:"Pictos";content:"g "}
.p-h:before{font-family:"Pictos";content:"h "}.p-i:before{font-family:"Pictos";content:"i "}.p-j:before{font-family:"Pictos";content:"j "}
.p-k:before{font-family:"Pictos";content:"k "}.p-l:before{font-family:"Pictos";content:"l "}.p-m:before{font-family:"Pictos";content:"m "}
.p-n:before{font-family:"Pictos";content:"n "}.p-o:before{font-family:"Pictos";content:"o "}.p-p:before{font-family:"Pictos";content:"p "}
.p-q:before{font-family:"Pictos";content:"q "}.p-r:before{font-family:"Pictos";content:"r "}.p-s:before{font-family:"Pictos";content:"s "}
.p-t:before{font-family:"Pictos";content:"t "}.p-u:before{font-family:"Pictos";content:"u "}.p-v:before{font-family:"Pictos";content:"v "}
.p-w:before{font-family:"Pictos";content:"w "}.p-x:before{font-family:"Pictos";content:"x "}.p-y:before{font-family:"Pictos";content:"y "}
.p-z:before{font-family:"Pictos";content:"z "}.p-A:before{font-family:"Pictos";content:"A "}.p-B:before{font-family:"Pictos";content:"B "}
.p-C:before{font-family:"Pictos";content:"C "}.p-D:before{font-family:"Pictos";content:"D "}.p-E:before{font-family:"Pictos";content:"E "}
.p-F:before{font-family:"Pictos";content:"F "}.p-G:before{font-family:"Pictos";content:"G "}.p-H:before{font-family:"Pictos";content:"H "}
.p-I:before{font-family:"Pictos";content:"I "}.p-J:before{font-family:"Pictos";content:"J "}.p-K:before{font-family:"Pictos";content:"K "}
.p-L:before{font-family:"Pictos";content:"L "}.p-M:before{font-family:"Pictos";content:"M "}.p-N:before{font-family:"Pictos";content:"N "}
.p-O:before{font-family:"Pictos";content:"O "}.p-P:before{font-family:"Pictos";content:"P "}.p-Q:before{font-family:"Pictos";content:"Q "}
.p-R:before{font-family:"Pictos";content:"R "}.p-S:before,.rating span:before,.rating:hover span:hover ~ span:before{font-family:"Pictos";content:"S "}
.p-T:before{font-family:"Pictos";content:"T "}.p-U:before{font-family:"Pictos";content:"U "}.p-V:before{font-family:"Pictos";content:"V "}
.p-W:before{font-family:"Pictos";content:"W "}.p-X:before{font-family:"Pictos";content:"X "}.p-Y:before{font-family:"Pictos";content:"Y "}
.p-Z:before{font-family:"Pictos";content:"Z "}.wufoo{font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;letter-spacing:.01em}
.info{display:inline-block;clear:both;margin:0 0 5px 0;padding:0 1% 1.1em 1%;border-bottom:1px dotted #ccc}.info[class]{display:block}
.hideHeader .info,#payment.hideHeader li.first{display:none}.info h2{font-weight:normal;font-size:160%;margin:0 0 5px 0;clear:left}

/*# sourceMappingURL=form.css.map */

.wufoo .wufoo-dropdown .wufoo-dropdown-control{
  background:#ffffff url(../images/fieldbg.gif) repeat-x top;
  border:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
  border-bottom:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
  border-right:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
}

.wufoo .wufoo-dropdown .wufoo-dropdown-menu {
  background:#ffffff url(../images/fieldbg.gif) repeat-x top;
}

.safari .wufoo select.select{
	font-size:100% !important;
}
.safari .wufoo input.file{
	background:none;
	border:none;
}

.wufoo li.focused{
	background-color:transparent !important;
}

.wufoo .instruct {
  background-color:#ffffff;
}

.redesigned-theme-2018 .wufoo .user-instructions small,
.redesigned-theme-2018 .wufoo .user-instructions:focus::after,
.redesigned-theme-2018 .wufoo .user-instructions:hover::after {
  background-color:#ffffff;
}

/* ----- Borders ----- */

#container{
	border:0 solid transparent;
}

.redesigned-theme-2018#container {
  border:0 solid transparent;
}

.wufoo .info,
.wufoo .paging-context{
	border-bottom:0 solid #ffffff;
}

.wufoo .section h3,
.wufoo .captcha,
#payment .paging-context{
	border-top:0 solid #ffffff;
}

.redesigned-theme-2018 .wufoo .info,
.redesigned-theme-2018 .wufoo .paging-context {
	border-bottom:0 solid transparent;
}
.redesigned-theme-2018 .wufoo .section h3,
.redesigned-theme-2018 .wufoo .captcha,
.redesigned-theme-2018 #payment .paging-context {
	border-top:0 solid #ffffff;
}


.wufoo .instruct{
	border:1px solid transparent;
}

.redesigned-theme-2018 .wufoo .user-instructions small {
	border:1px solid transparent;
}
.redesigned-theme-2018 .wufoo .floatInstructionRight:hover::before,
.redesigned-theme-2018 .wufoo .floatInstructionRight:focus::before,
.redesigned-theme-2018 .wufoo .floatInstructionRight:hover::after,
.redesigned-theme-2018 .wufoo .floatInstructionRight:focus::after {
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.redesigned-theme-2018 .wufoo .floatInstructionLeft:hover::before,
.redesigned-theme-2018 .wufoo .floatInstructionLeft:focus::before,
.redesigned-theme-2018 .wufoo .floatInstructionLeft:hover::after,
.redesigned-theme-2018 .wufoo .floatInstructionLeft:focus::after {
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}


.fixed .info{
	border-bottom:none;
}
.wufoo li.section.scrollText{
	border-color:#daae7c;
}

/* ----- Typography ----- */

.redesigned-theme-2018 .wufoo li.paging-context b *,
.redesigned-theme-2018 .wufoo li .wufoo-dropdown *,
.redesigned-theme-2018 .wufoo label.choice *,
.redesigned-theme-2018 .wufoo label.desc *,
.redesigned-theme-2018 .wufoo legend.desc *,
.redesigned-theme-2018 .likert thead td *,
.redesigned-theme-2018 .likert tbody label *,
.redesigned-theme-2018 .likert caption * {
  font-family: Arial Black;
}

.redesigned-theme-2018 .wufoo label.desc,
.redesigned-theme-2018 .wufoo legend.desc,
.redesigned-theme-2018 .likert caption {
  font-size: 18px !important;
}
.redesigned-theme-2018 .wufoo label.desc,
.redesigned-theme-2018 .wufoo legend.desc,
.redesigned-theme-2018 .likert caption {
  color: #282828 !important;
}

.wufoo label.choice{
	font-size:100% !important;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444 !important;
}

.redesigned-theme-2018 .wufoo li span:not(.star)  {
	font-size: 18px !important;
}
.redesigned-theme-2018 .wufoo li div span.choice__text {
	font-size: 15px !important;
}
.redesigned-theme-2018 .wufoo li span,
.redesigned-theme-2018 .wufoo li span label,
.redesigned-theme-2018 .wufoo li div span.choice__text,
.redesigned-theme-2018 .wufoo ul li span.symbol
.redesigned-theme-2018 li div span.choice__qty,
.redesigned-theme-2018 li div span.choice__qty span,
.redesigned-theme-2018 .wufoo li.focused span{
  color: #7f8189;
}
.redesigned-theme-2018 .wufoo label.desc,
.redesigned-theme-2018 .wufoo legend.desc,
.redesigned-theme-2018 .likert caption {
  color: #434A54;
}
.redesigned-theme-2018 .wufoo li .wufoo-dropdown-menu {
  color: #212121;
}


.redesigned-theme-2018 .wufoo input.text,
.redesigned-theme-2018 .wufoo textarea.textarea,
.redesigned-theme-2018 .wufoo textarea.textarea::placeholder,
.redesigned-theme-2018 .wufoo input.file,
.redesigned-theme-2018 .wufoo select.select,
.redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
  font-size: 15px !important;
}
.redesigned-theme-2018 .wufoo input.text,
.redesigned-theme-2018 .wufoo textarea.textarea,
.redesigned-theme-2018 .wufoo input.file,
.redesigned-theme-2018 .wufoo select.select,
.redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
  color: #212121 !important;
}
.redesigned-theme-2018 .wufoo input.text,
.redesigned-theme-2018 .wufoo textarea.textarea,
.redesigned-theme-2018 .wufoo input.file,
.redesigned-theme-2018 .wufoo select.select,
.redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
  font-weight: 300 !important;
}

.redesigned-theme-2018 .wufoo input.text,
.redesigned-theme-2018 .wufoo textarea.textarea,
.redesigned-theme-2018 .wufoo input.file {
  font-family: Arial;
}

.safari .wufoo select.select{
	background:#ffffff url(../images/fieldbg.gif) repeat-x top;
	border:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	border-bottom:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	border-right:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	font-size:100% !important;
}


.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label{
	font-family:Arial Black;
	color:#444444;
}
.safari .wufoo input.file{ /* Webkit */
	font-size:100%;
	font-family:Arial Black;
	color:#444444;
}
.wufoo .instruct small, .redesigned-theme-2018 .wufoo label.desc .user-instructions small{
	font-size:80%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions,
.redesigned-theme-2018 .wufoo legend.desc .user-instructions {
  font-size: 15px !important;
}
.redesigned-theme-2018 .wufoo label.desc .user-instructions small,
.redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
  font-size: 80% !important;
  color: #444444 !important;
  font-style:normal !important;
  font-weight: normal !important;
  line-height: normal;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions small,
.redesigned-theme-2018 .wufoo legend.desc .user-instructions small {

  font-size: 15px !important;
}
.redesigned-theme-2018 .wufoo label.desc .user-instructions small,
.redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
  color: #6b787f !important;
}
.redesigned-theme-2018 .wufoo label.desc .user-instructions small,
.redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
  font-weight: 300 !important;
}

.altInstruct small, li.leftHalf small, li.rightHalf small,
li.leftThird small, li.middleThird small, li.rightThird small,
.iphone small{
	color:#444444 !important;
}

/* ----- Button Styles ----- */

.wufoo input.btTxt{

}

/* ----- Highlight Styles ----- */


/* ----- Confirmation ----- */

.confirm h2{
	font-family:Arial Black;
	color:#444444;
}
a.powertiny b, a.powertiny em{
	color:#1a1a1a !important;
}
.embed a.powertiny b, .embed a.powertiny em{
	color:#1a1a1a !important;
}

/* ----- Pagination ----- */

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker{
	font-family:Arial Black;
	color:#444444;
}
.pgStyle1 var, .pgStyle2 td{
	border:1px solid #c8a072;
}
.pgStyle1 .done var{
	background:#c8a072;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em{
	background:#575757;
	color:#FFFFFF;
}
.pgStyle1 .selected var{
	border:1px solid #444444;
}

.buttons button, .buttons button:hover{
	color:#000000;
}

/* Likert Backgrounds */

.likert table{
	background-color:#fac88f;
}
.likert thead td, .likert thead th{
	background-color:#e1b481;
}
.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#f0c089;
}

/* Likert Borders */

.likert table, .likert th, .likert td{
	border-color:#daae7c;
}
.likert td{
	border-left:1px solid #c8a072;
}

/* Likert Typography */

.likert caption, .likert thead td, .likert tbody th label{
	color:#444444;
	font-family:Arial Black;
}

.redesigned-theme-2018 .likert thead td,
.redesigned-theme-2018 .likert thead th,
.redesigned-theme-2018 .likert tbody th label {
  color: #656D78;
}

.likert tbody td label{
	color:#575757;
	font-family:Arial Black;
}
.likert caption, .likert tbody th label{
	font-size:95%;
}

/* Likert Hover */

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label{
	background-color:transparent;
	color:#000000;
}
.likert tbody tr:hover td{
	border-left:1px solid #cccccc;
}

.redesigned-theme-2018 .likert tbody tr:hover label, .redesigned-theme-2018 .likert tbody tr:hover td, .redesigned-theme-2018 .likert tbody tr:hover th {
  color: #444444;
}

/* ----- Running Total ----- */

.wufoo #lola{
	background:#e1b481;
}
.wufoo #lola tbody td{
	border-bottom:1px solid #c8a072;
}
.wufoo #lola{
	font-family:Arial Black;
	color:#444444;
}
.wufoo #lola tfoot th{
	color:#696969;
}

/* ----- Report Styles ----- */

.wufoo .wfo_graph h3{
	font-size:95%;
	font-family:Arial Black;
	color:#444444;
}
.wfo_txt, .wfo_graph h4{
	color:#444444;
}
.wufoo .footer h4{
	color:#000000;
}
.wufoo .footer span{
	color:#444444;
}

/* ----- Number Widget ----- */

.wfo_number{
	background-color:#f0c089;
	border-color:#daae7c;
}
.wfo_number strong, .wfo_number em{
	color:#000000;
}

/* ----- Chart Widget Border and Background Colors ----- */

#widget, #widget body{
	background:#fac88f;
}
.fcNav a.show{
	background-color:#fac88f;
	border-color:#c8a072;
}
.fc table{
	border-left:1px solid #daae7c;
}
.fc thead th, .fc .more th{
	background-color:#daae7c !important;
	border-right:1px solid #c8a072 !important;
}
.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td{
	background-color:#fac88f;
	border-right:1px solid #c8a072;
	border-bottom:1px solid #daae7c;
}
.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt{
	background-color:#f0c089;
}

/* ----- Chart Widget Typography Colors ----- */

.fc caption, .fcNav, .fcNav a{
	color:#444444;
}
.fc tfoot,
.fc thead th,
.fc tbody th div,
.fc tbody td.count, .fc .cards tbody td a, .fc td.percent var,
.fc .timestamp span{
	color:#000000;
}
.fc .indent .count{
	color:#4b4b4b;
}
.fc .cards tbody td a span{
	color:#7d7d7d;
}

/* ----- Chart Widget Hover Colors ----- */

.fc tbody tr:hover td, .fc tbody tr:hover th,
.fc tfoot tr:hover td, .fc tfoot tr:hover th{
	background-color:transparent;
}
.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var,
.fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var{
	color:#000000;
}

/* ----- Payment Summary ----- */

.invoice thead th,
.invoice tbody th, .invoice tbody td,
.invoice tfoot th,
.invoice .total,
.invoice tfoot .last th, .invoice tfoot .last td,
.invoice tfoot th, .invoice tfoot td{
	border-color:#daae7c;
}
.invoice thead th, .wufoo .checkNotice{
	background:#f0c089;
}
.invoice th, .invoice td{
	color:#000000;
}
#ppSection, #ccSection{
	border-bottom:0 solid #ffffff;
}
#shipSection, #invoiceSection{
	border-top:0 solid #ffffff;
}

/* Drop Shadows */
#container{
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important;
}




/* - - - Custom Theme - - - */

form#form2 {
    width: 100%;
}
form#form2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wufoo li.focused {
    background-color: transparent !important;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}
.notranslate.focused {
    outline: 0px;
    outline-offset: 0px;
    box-shadow: none;
}
.wufoo .focused {
    box-shadow: none;
    outline: 0px;
    outline-offset: 0px;
}
.radio-section span {
    display: flex;
    align-items: start;
    text-align: start;
    gap: 10px;
    margin-bottom: 15px;
}
.radio-section span input {
    margin: 0;
}
.choice__text {
    font-family: Rubik;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: start;
    color: #696969;
  cursor: pointer;
}
.complex.notranslate.address {
    margin-top: 30px;
}
.city-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.country-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.country-class select {
    border-radius: 5px;
    appearance: auto;
}