.hidden {
  display: none;
}

#container {
  padding: 30px 0 20px 0;
}

.wufoo .section h3 {
  padding: 0 0 0 0;
}

input.btTxt {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0 0 0 0;
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 10px;
  background-color: #6FB43F !important;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  border: 0px !important;
}

.redesigned-theme-2018 .wufoo .info h2 {
  margin: 0px 0px 0px 0px !important;
  font-size: 26px !important;
}
.redesigned-theme-2018 .wufoo .info div {
  padding-bottom: 0px !important;
}

.redesigned-theme-2018 .wufoo li.notranslate {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

.redesigned-theme-2018 form.wufoo {
  padding: 0 0 0 0 !important;
}

.redesigned-theme-2018 input.radio:checked+label.choice:before, 
.redesigned-theme-2018 input.radio:not(:checked)+label.choice:before {
    border-color: #000000 !important;
}